{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form action="{{ url_for('result') }}" method="post">
        
        {% for question in questions %}
        <div class="question-block {% if loop.first %}active{% endif %}" id="question-{{ loop.index }}">
            <h2>質問 {{ loop.index }} / {{ questions|length }}</h2>
            <h3>{{ question.header }}</h3>
    
            <div class="choice-wrapper">
                <div class="radio-buttons">
                    {% for i in range(7) %}
                        <label class="radio-label" style="--i: {{ i }};">
                            <input type="radio" name="answer-{{ question.id }}" value="{{ i + 1 }}" id="answer-{{ question.id }}-{{ i }}" required>
                            <span for="answer-{{ question.id }}-{{ i }}"></span>
                        </label>
                    {% endfor %}
                </div>

                <div class="choice-labels">
                    <div class="choice-text left">{{ question.choice_a }}</div>
                    <div class="choice-text right">{{ question.choice_b }}</div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="submit-button-wrapper">
            <button type="submit" id="submit-button" disabled>結果を見る</button>
        </div>
    </form>
</div>
{% endblock %}